/CommandLineAddition.class
/CommandLineEg.class
/HelloWorld.class
/ShiftOperator.class
/TestAns.class
/TestArthimaticOp.class
/TestBitwiseOp.class
/TestLogicalOp.class
/TestRelationalOp.class
/variableTest.class
